.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #555;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.row-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rbb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.marg-l-20 {
    margin-left: 10px;
}