.chatHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    padding: 1em;
}

.chatText {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
    overflow-y: auto;
    height: 90%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 100px;
    border-top: 1px solid #eee;
}

.textarea {
    padding: 1em;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.2em;
}

.button {
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    background: #004671
}

.button:hover {
    background: #005c97
}

.button:disabled,
.button:hover:disabled {
    opacity: 0.5;
}

.message {
    background-color: #eef5f8;
    padding: 1em;
    border-radius: 10px;
    flex-grow: 0;
    border-bottom-left-radius: 0;
}