@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inika";
  src: url("../../public/fonts/Inika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --brown01: #652c16;
  --red02: #da2249;
  --black: #222222;

  --sidebar-btn: #f9a9c433;

  --whiteClr: #ffffff;
  --secondary_200: #D6D6D6;
  --primary_200: #76A179;
  --primary_050: #89AF88;

  --accent_primary: #6FC21C;
  --grey_800: #484E4C;

  --tertiary_300: #6B9284;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 240, 240, 240;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #9d2b2b; */
  font-family: "inika", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--red02);
}

h3 {
  font-size: 1.25rem;
}

.main-title {
  font-size: 2rem;
  color: var(--grey_800);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #555;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: calc(100vh - 60px);
  overflow: scroll;
}

.page-container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 2rem;
  height: calc(100vh - 60px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  padding: 0 10px;

  filter: drop-shadow(0 0 0.75rem #00000010);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.row-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pad-top-20 {
  padding-top: 20px;
}

.inline {
  display: inline;
}

.v-spacer {
  height: 20px;
}

.v-spacer2 {
  height: 200px;
}

.pad-r {
  padding-left: 20px;
}

.font-s {
  font-size: 0.8rem;
}

.link {
  color: var(--blacl);
  text-decoration: none;
}

.link:hover {
  color: var(--red02);
  text-decoration: underline;
}

input {
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
  padding: 5px;
  margin: 5px;
}

select {
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
  padding: 5px;
  margin: 5px;
}

.button {
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  background-color: var(--accent_primary);
  color: var(--whiteClr);
  border-radius: 2px;
  cursor: pointer;
}

.width-100 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.width-90-p {
  width: 90%;
}

.width-50-p {
  width: 50%;
}

.btn {
  cursor: pointer;
}

.text-color-white {
  color: #ffffff !important;
}

.f-size-22 {
  font-size: 22px;
}

.f-size-3rem {
  font-size: 3rem;
}

.subtitle {
  font-size: .9rem;
  color: #7d7d7d;
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.ant-btn-primary {
  background-color: #f3218a;
}

.status-indicator {
  width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  gap: 10px;
}

.grid-item {
  background-color: var(--whiteClr);
  filter: drop-shadow(0 0 0.75rem #00000010);
  padding: 10px;
  text-align: flex-start;
  border-radius: 10px;
  min-height: 150px;
}

.grid-item textarea {
  width: 100%;
}

.full-width {
  width: 100%;
}

.drop {
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.05);
}

.mail-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

textarea {
  border: 1px solid #dddddd;
}

.error {
  color: red;
  font-size: 0.7rem;
}

.marg-l-20 {
  margin-left: 20px;
}

.bg {
  background-color: #a74848;
}

.input-label {
  margin-bottom: -20px;
  margin-left: 11px;
  font-size: 0.8rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 40px;
  row-gap: 20px;
  padding-right: 70px;
}

