@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inika';
  src: url('../../public/fonts/Inika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --brown03: #E7DCD6;
  --brown02: #CFB9B0;
  --brown01: #652C16;
  --green01: #156319;
  --green02: #6FC21C;
  --green03: #7CD623;
  --red01: #AA021D;
  --red02: #DA2249;
  --red03: #F9A9C4;
  --black: #222222;

  --sidebar-btn: #F9A9C433;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 240, 240, 240;
  }
}

body {
  color: var(--black);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #9d2b2b; */
  font-family: 'inika', sans-serif;
}

h1 {
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #555;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  height: 70%;
  /* background-color: #f1f1f1; */

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  padding: 0 10px;

  filter: drop-shadow(0 0 0.75rem #00000010);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.pad-top-20 {
  padding-top: 20px;
}