.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 200px;
  height: 100vh;
  background-color: #24283D;
  padding: 20px;
}

.sidebarbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #2f3657;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease;

}

.sidebarbtn:hover {
  background-color: #49548a;
  padding-left: 15px;
}