.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 220px;
  height: calc(100vh - 60px);
  background-color: var(--primary_200);
  padding-top: 60px;
  margin-right: 30px;
}

.containermobile {
  display: none;
}

.sidebarbtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 10px;
  background-color: var(--primary_200);
  color: var(--secondary_200);
  text-decoration: none;
  padding: 15px;
  padding-left: 30px;
  transition: all 0.1s ease;
}

.sidebarbtn:hover {
  background-color: var(--primary_050);
  padding-left: 0px;
  color: var(--whiteClr);
  padding-left: 25px;
}

.icon {
  margin-right: 35px;
}

.icon2 {
  margin-right: 35px;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }

  .sidebarbtn {
    margin: 0px;
    padding: 15px;
  }

  .sidebarbtn:hover {
    background-color: var(--primary_050);
    padding-left: 15px;
  }

  .containermobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-width: 60px;
    height: auto;
    background-color: var(--primary_200);
    padding-top: 20px;
    margin-right: 20px;
  }
}

.sidebarbtnwrapper {
  justify-content: space-between;
  display: flex;
  width: 70%;
  flex-direction: row;
}

.sidebartxt {
  padding-right: 20px;
}