.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 220px;
  height: calc(100vh - 60px);
  background-color: var(--primary_200);
  padding-top: 20px;
  margin-right: 20px;
}

.container2 {
  display: none;
}

.sidebarbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--primary_200);
  color: var(--secondary_200);
  text-decoration: none;
  padding: 10px;
  padding-left: 30px;
  transition: all 0.2s ease;
}

.sidebarbtn:hover {
  background-color: var(--primary_050);
  padding-left: 0px;
  color: var(--whiteClr);
  padding-left: 35px;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }

  .sidebarbtn {
    margin: 0px;
    padding: 15px;
  }

  .sidebarbtn:hover {
    background-color: var(--primary_050);
    padding-left: 15px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

    min-width: 60px;
    height: auto;
    background-color: var(--primary_200);
    padding-top: 20px;
    margin-right: 20px;
  }
}
